/* CSS */

html, body {
	margin: 0;
	font-family: arial, sans-serif;
	font-size: 13px;
}

div.top-container  {
	position: relative;
	top: 0px;
	height: 200px;
	width: 100%;	
}

div.top-right {
	position: absolute;
	right: 50px;
	margin: 22px 0 0 10.5px;
}

div.top-left {
	position: absolute;
     margin: 22px 0 0 10.5px;
}


li {
	float: left;
}

ul li {

}

ul li  a {
	color: #505050;
	text-decoration: none;
	font-family: arial, sans-serif;
	font-size: 13px;
	padding-left: 15px;
}

li a:hover {
	text-decoration: underline;
}

div.main-content {
	position: relative;
	width: 100%;
	height: 300px;
}

div.mc-logo {
	position: absolute;
	margin-left: 580px;
	
}

div.mc-search {
	position: absolute;
	left: 600px;
	top: 120px;
	
}

div.mcs-buttons {
	position: absolute;
	left: 570px;
	top: 180px;
	
}

li button {
	color: #505050;
	margin-left: 10px;
	background-color: #f2f2f2;
	border: 1px solid #f2f2f2;
	padding: 10px 20px;
	border-radius: 3px;
	border
}

li button:hover {
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;
}



