/* CSS */

html, body {
	margin: 0;
}

div.top-container  {
	position: relative;
	top: 0px;
	height: 200px;
	width: 100%;	
}

div.top-right {
	position: absolute;
	right: 50px;
	margin: 22px 0 0 10.5px;
}

div.top-left {
	position: absolute;
     margin: 22px 0 0 10.5px;
}


li {
	float: left;
}

ul li {

}

ul li  a {
	color: #505050;
	text-decoration: none;
	font-family: arial, sans-serif;
	font-size: 13px;
	padding-left: 15px;
}

li a:hover {
	text-decoration: underline;
}







